[submodule "deps/pico-sdk"]
	path = deps/pico-sdk
	url = git@github.com:raspberrypi/pico-sdk.git
[submodule "deps/pico-extras"]
	path = deps/pico-extras
	url = git@github.com:raspberrypi/pico-extras.git
[submodule "deps/min"]
	path = deps/min
	url = git@github.com:min-protocol/min.git
[submodule "deps/FreeRTOS-Kernel"]
	path = deps/FreeRTOS-Kernel
	url = git@github.com:raspberrypi/FreeRTOS-Kernel.git
[submodule "deps/nanoMODBUS"]
	path = deps/nanoMODBUS
	url = git@github.com:debevv/nanoMODBUS.git
